@font-face {
    font-family: fuenteTitulo;
    src: url(../fonts/titulo.otf);
}

@font-face {
    font-family: fuenteParrafo;
    src: url(../fonts/parrafo.otf);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fuenteTitulo;
}

p,
ul li,
a {
    font-family: fuenteParrafo;
}

.menu {
    margin: 0;
    overflow: hidden;
    background-color: royalblue;  /*#3b7aa8;*/
    font-family: fuenteParrafo;
}

.menu ul {
    list-style-type: none;
    float: left;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

.menu ul li a:hover {
    background-color: dodgerblue;
}

a.tituloMenu {
    text-decoration: none;
    float: left;
    font-family: fuenteTitulo;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.login {
    float: right;
    padding: 25px 20px;
    color: white;
    font-family: fuenteParrafo;
    font-size: 15px;
}

form.login {
    display: inline;
}

form.login * {
    float: left;
}

.sidebar {
    width: 20%;
    float: left;
    background-color: white;
}

.sidebarContainer {
    padding: 10px;
}

.bloqueSidebar {
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#main {
    width: 60%;
    float: left;
}

#mainContainer {
    padding: 10px;
}

#footer {
    clear: both;
    padding: 20px;
    background-color: lightskyblue;
    text-align: center;
}

#container {
    margin: 10px;
}
