@font-face {
    font-family: fuenteTitulo;
    src: url(../fonts/titulo.otf);
}

@font-face {
    font-family: fuenteParrafo;
    src: url(../fonts/parrafo.otf);
}

body {
    margin: 0;
    background-color: #E3F2FD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fuenteTitulo;
}

p,
ul li,
a {
    font-family: fuenteParrafo;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #2196F3;
    font-family: fuenteParrafo;
    box-shadow: 0 1px 4px darkslategray;
}

.menu ul {
    list-style-type: none;
    float: left;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
}

.menu ul li a:hover {
    background-color: dodgerblue;
}

a.tituloMenu {
    text-decoration: none;
    float: left;
    font-family: fuenteTitulo;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px 10px;
}

.login {
    float: right;
    padding: 25px 20px;
    color: white;
    font-family: fuenteParrafo;
    font-size: 15px;
}

form.login {
    display: inline;
}

form.login * {
    float: left;
}

.sidebar {
    min-width: 300px;
    width: 20%;
    float: left;
}

.sidebarContainer {
    padding: 10px;
}

.bloqueSidebar {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.bloqueSidebar * {
    display: inherit;
    text-decoration: none;
}

#main {
    min-width: 300px;
    width: 80%;
    float: left;
    background-color: white;
    border-radius: 5px;
}

#mainContainer {
    margin-left: 50px;
    padding: 10px;
}

#footer {
    color: white;
    clear: both;
    padding: 20px;
    background-color: #0D47A1;
    text-align: center;
}

#container {
    padding-top: 80px;
    margin: 10px;
}

.btn {
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 4px darkslategray;
    background-color: #42A5F5;
    color: white;
    font-family: fuenteParrafo;
    font-weight: bold;
    transition: background-color .3s;
}

.btn:hover,
.btn:focus {
    background-color: #2196F3;
}