.excursion #centro * {
    float: left;
}

.excursion #centro #imagen {
    width: 20%;
}

.excursion #centro #descripcion {
    text-align: justify;
    width: 60%;
}

#dcha {
    width: 20%;
    float: left;
}

#dcha * {
    margin: 5px;
    padding: 5px;
    background-color: lightseagreen;
    border-radius: 5px;
    text-align: center;
}

#comentarios {
    width: 100%;
    float: left;
    border-radius: 5px;
}

.comentario {
    width: 100%;
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.comentario:hover {
    background-color: skyblue;
}

.textoComentario {
    height: 150px;
    width: 100%;
}