#dias {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
    flex-wrap: wrap;
}

.dia {
    border: 1px solid darkgrey;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 1px 4px darkslategray;
}

.dia:hover {
    background-color: lavender;
}

.mañana,
.tarde {
    /*border-radius: 5px;*/
    padding: 1px;
}

.mañana {
    background-color: #FFF176;
}

.tarde {
    background-color: #FFB74D;
}

.excursion {
    float: left;
    margin: 5px;
    /*  border: 1px solid darkgrey;*/
    border-radius: 5px;
    box-shadow: 0 1px 4px darkgray;
}

.excursion:hover {
    background-color: #E3F2FD;
    box-shadow: 0 1px 4px darkslategray;
}

.datosExcursion {
    padding: 5px;
    width: 75%;
    float: left;
}

.excursion img {
    width: 15%;
    float: left;
    border-radius: 20px;
    padding: 10px;
}

.botonCompra {
    font-weight: bold;
    text-align: center;
}

.elegir {
    font-weight: bold;
    text-align: center;
    width: 10%;
    float: right;
}

.excursionPopular {
    /*  border: 1px solid darkgrey;*/
    border-radius: 5px;
    margin: 2px;
}