.excursion #centro * {
    float: left;
}

.excursion #centro #imagen {
    width: 20%;
    border-radius: 20px;
}

.excursion #centro #descripcion {
    text-align: justify;
    width: 60%;
}

#dcha {
    width: 20%;
    float: left;
}

#dcha * {
    margin: 5px;
    padding: 5px;
    background-color: #64B5F6;
    border-radius: 5px;
    text-align: center;
}

#comentarios {
    width: 90%;
    float: left;
    border-radius: 5px;
}

.comentario {
    width: 100%;
    float: left;
    padding: 5px;
    margin: 5px;
    border: 1px solid #BBDEFB;
    border-radius: 5px;
}

.comentario:hover {
    background-color: #E3F2FD;
}

#textoComentario {
    height: 150px;
    width: 100%;
}

#asunto{
    width: 100%;
}