.group {
    margin-bottom: 45px;
    font-family: fuenteParrafo;
}

input,
textarea {
    min-width: 100px;
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid #1E88E5;
}

input:focus,
textarea:focus {
    outline: none;
}

label {
    color: #1E88E5;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

textarea:valid~label,
textarea:focus~label,
input:focus~label,
input:valid~label {
    top: -50px;
    font-size: 12px;
    color: #64B5F6;
}

.bar {
    /* position: relative;*/
    display: block;
    width: 90%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    /*position: absolute;*/
    background: #64B5F6;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

textarea:focus~.bar:before,
textarea:focus~.bar:after,
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

textarea {
    font-family: fuenteParrafo;
    text-align: justify;
}

.fileUpload {
    width: 90%;
}