
body{
margin: 0;

}
.cabecera{
top: 0;
  display: block;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgb(98,156,201);
}
.cabecera .logo{
  width: 300px;
  height: 62px;
  margin-left: 30px;
}
.container{
clear: both;
display: flex;
flex-direction: row;
align-items: flex-start;
margin-top: 53px;
justify-content: flex-start
}

.sidebar-izq{
width: 203px;
height: 500px;
padding-left: 1px;
margin: 0 ;
order: 1;
margin-top: 10px

}
.contenido{
/*width: 900px;*/
width: 1000px;
height: 500px;
padding: 30px;
order: 2;
flex-grow: 2;
}
/******************* menu izquierdo *****************************/
.sidebar-izq ul.menu{
  margin: 0 ;
  padding: 0;
  width: 185px;
  background: rgb(255,255,255);
  width: 200px;
  list-style-type: none;
  border: 0.2px solid #efefef;
  position: fixed;
  height: 100%;


}

ul.menu li a{
  transition: 0.2s;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
  border: 0.1px solid #efefef;
  color: #848181;

}

ul.menu li>a:hover {
  background-color: rgb(241,245,249);
  color: rgb(43,125,188);
  padding-left: 3px;
  border-left: 3px solid rgb(98,156,201);
  /*border-left: 3px solid rgb(51,255,51);*/
}

ul.menu li a.vuelos{
  background: rgb(255,255,255) url(img/avion.png) no-repeat 17%  ;
}
ul.menu li a.excursion{
  background: rgb(255,255,255) url(img/excursion.png) no-repeat 15%  ;
}
ul.menu li a.usuarios{
  background: rgb(255,255,255) url(img/usuario.png) no-repeat 17%  ;
}

/*************cajas***************/


.columna1{

margin: 10px;

  padding: 5px;
  width: 100px;
  padding-left: 16px;

}

.columna2{
 padding: 5px;
margin: 10px;
}

.columna3{
 padding: 5px;
margin: 10px;
}

.columna4{
 padding: 5px;
margin: 10px;
}

/*************flex*****************/

.table{

  display: flex;
  padding: 5px;
  border: 1px black solid;
  width: 395px;
  border: 7px solid rgb(91, 91, 91);
  background-color: rgb(202, 202, 202);
}



/**************formulario****************/

div.form form.form-style ul{
  width:550px;
  list-style-type:none;
  list-style-position:outside;
}

div.form form.form-style li{
  padding:6px;
  position:relative;
}

.logout{
  position: absolute;
  right: 50px;
  width: 50px;
  height: 50px;
}

/***********para el slide**********/
.excursionjq {
  display: none;
}

.vuelosjq {
  display: none;
}

.usuariosjq {
  display: none;
}


/************botones**************/

.add {

  position: absolute;
  bottom: 193px;
  right: 130px;

}



/**********tabla************/

div.table table.tabla-ele th{

padding: 10px;
 background-color: #4CAF50;
 text-align: left;


}

/******esto lo ha comentado Carol******/ /* jaja sii :)*/
/*ul.menu li>a:link, li>a:visited{
  background: #fff url(../images/flecha.png) no-repeat 105% ;

}*/

/**************grafico de lineas**********/


div.estadisticas ul {
				width: 350px;
				list-style: none;
			}

div.estadisticas .esta {
				display: inline-block;
				height: 25px;
				line-height: 23px;
				margin: 5px;
				padding: 0 5px;
				text-align: right;
				color: black;
				border-bottom: 1px solid #aaa;
				border-right: 1px solid #aaa;
			}

      .reg {
				background: red;
				width: 28%;
				height:50px;
			}

			.vis {
				background: green;
				width: 70%;
				height:50px;
			}


/*************grafico gordito****************/
.donut-chart {
  position: relative;
	width: 200px;
  height: 200px;
	margin: 0 auto 2rem;
	border-radius: 100%
 }

.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
  }

  /********************TABLA CONTENIDO*******************/
  .datagrid table  {
     border-collapse:  collapse;
     text-align:  left;
     width:  100%;
 }
 .datagrid  {
   margin: 0 auto;
    font:  normal 12px/150% Arial,  Helvetica,  sans-serif;
     background:  #fff;
     overflow:  hidden;
     border:  1px solid #006699;
     -webkit-border-radius:  3px;
     -moz-border-radius:  3px;
     border-radius:  3px;


 }
.datagrid table td,  .datagrid table th  {
     padding:  3px 10px;
 }
.datagrid table thead th  {
    background: -webkit-gradient( linear,  left top,  left bottom,  color-stop(0.05,  #006699),  color-stop(1,  #00557F) );
    background: -moz-linear-gradient( center top,  #006699 5%,  #00557F 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',  endColorstr='#00557F');
    background-color: #006699;
     color: #FFFFFF;
     font-size:  15px;
     font-weight:  bold;
     border-left:  1px solid #0070A8;
 }
 .datagrid table thead th:first-child  {
     border:  none;
 }
.datagrid table tbody td  {
     color:  #00557F;
     border-left:  1px solid #E1EEF4;
    font-size:  12px;
    font-weight:  normal;
 }
.datagrid table tbody .alt td  {
     background:  #E1EEf4;
     color:  #00557F;
 }
.datagrid table tbody td:first-child  {
     border-left:  none;
 }
.datagrid table tbody tr:last-child td  {
     border-bottom:  none;
 }
.datagrid table tfoot td div  {
     border-top:  1px solid #006699;
    background:  #E1EEf4;
}
 .datagrid table tfoot td  {
     padding:  0;
     font-size:  12px }
 .datagrid table tfoot td div {
     padding:  2px;
 }
.datagrid table tfoot td ul  {
     margin:  0;
     padding: 0;
     list-style:  none;
     text-align:  right;
 }
.datagrid table tfoot  li  {
     display:  inline;
 }
.datagrid table tfoot li a  {
     text-decoration:  none;
     display:  inline-block;
      padding:  2px 8px;
     margin:  1px;
    color:  #FFFFFF;
    border:  1px solid #006699;
    -webkit-border-radius:  3px;
     -moz-border-radius:  3px;
     border-radius:  3px;
     background: -webkit-gradient( linear,  left top,  left bottom,  color-stop(0.05,  #006699),  color-stop(1,  #00557F) );
    background: -moz-linear-gradient( center top,  #006699 5%,  #00557F 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',  endColorstr='#00557F');
    background-color: #006699;
 }
.datagrid table tfoot ul.active,  .datagrid table tfoot ul a:hover  {
     text-decoration:  none;
    border-color:  #00557F;
     color:  #FFFFFF;
     background:  none;
     background-color: #006699;
}
div.dhtmlx_window_active,  div.dhx_modal_cover_dv  {
     position:  fixed ;
 }


.datagrid table .img{
  width: 90px;
}
