@font-face {
    font-family: fuenteTitulo;
    src: url(fonts/titulo.otf);
}

@font-face {
    font-family: fuenteParrafo;
    src: url(fonts/parrafo.otf);
}

@font-face {
    font-family: fuentePrin;
    src: url(fonts/theboldfont.ttf);
}

body {
    margin: 0;
}

#cabecera {
    background-color: #2196F3;
    float:left;
}

#bloqueLogin {
    background-color: #90caf9;
    float: left;
    width: 100%;
}

#login {
    /* El id que controla el apartado del login */
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 2px black;
    font-weight: bold;
    font-family: fuentePrin;
}

#login a {
    color: white;
    text-shadow: 0px 0px 10px black;
    text-decoration: none;
}

#login input {
    /* las cajas donde se poner usernanme y password*/
    display: inline-block;
    margin: 3px;
    padding: 2px;
    border-color: #A9A;
    border-style: solid;
    border-radius: 14px;
    outline-style: none;
}

#login input:select {
    border-radius: 14px;
}

a.tituloMenu {
    text-decoration: none;
    float: left;
    font-size: 45px;
    font-family: fuenteTitulo;
    font-weight: bold;
    /*text-shadow: 2px 2px 1px #08B, 2px 2px 1px #08B, 2px 2px 1px #08B, 2px 2px 1px #08B;*/
    text-shadow: 0px 0px 2px black;
    color: #87CEFA;
    padding: 10px 25px;
    padding-left: 60px;
}

#login a:visited {
    /*para que se mantenga el color aunque se haya clicado anteriormente*/
    color: white;
}

#Nav {
    float: left;
    padding: 10px 105px;
    font-family: fuenteTitulo;
}

#Nav>ul {
    width: 100%;
    margin: 0 auto;
    float: center;
    padding: 10px 35px;
}

#Nav>ul>li {
    list-style: none;
    display: inline-block;
    margin: 1px;
    border-radius: 15px;
    position: relative;
}


/* cuando pasas el raton por encima de Vuelo/Excursion/etc cambia de color*/

#Nav>ul>li>a:hover {
    background-color: white;
    border-radius: 5px;
    color: #1e88e5  ;
}

#Nav>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 0px 15px;
}

#Nav li ul {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 180px;
    left: 50%;
    margin-left: -110px;
    top: 25px;
    /* This is important for the show/hide CSS animation */
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
}

#Nav li:hover ul {
    max-height: 200px;
}

#Nav li ul li {
    background-color: #313131;
}

#Nav li ul li a {
    padding: 8px;
    color: #fff;
    text-decoration: none;
    display: block;
}

#Nav li ul li:nth-child(odd) {
    /* zebra stripes */
    background-color: #363636;
}

#Nav li ul li:hover {
    /* color al pasar por encima el raton de los desplegables*/
    background-color: #444;
}

#Nav li ul li:first-child {
    border-radius: 3px 3px 0 0;
    margin-top: 30px;
    position: relative;
}

#Nav li ul li:first-child:before {
    /* the pointer tip */
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

#Nav li ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#Nav li.green {
    /* This is the color of the menu item */
    background-color: #00c08b;
    /* This is the color of the icon */
    color: #127a5d;
}

#Nav li.red {
    background-color: #ea5080;
    color: #aa2a52;
}

#Nav li.blue {
    background-color: #2196f3;
    color: white;
}

#Nav li.yellow {
    background-color: #f8c54d;
    color: #ab8426;
}

#Nav li.purple {
    background-color: #df6dc2;
    color: #9f3c85;
}

#Nav li.white {
    background-color: #53bfe2;
    color: #2884a2;
}

#barraMenu {
    float: left;
    width: 100%;
    background-color: #2196F3;
    box-shadow: 0 1px 4px darkslategray;
}

#footer {
    background-color: #90caf9;
    clear: both;
    padding: 10px;
    text-align: center;
    position: relative;
    font-family: fuenteTitulo;
    color: white;
}

#footer label {
    text-shadow: 0px 0px 2px black;
    padding: 0px 5px;
}

#footer a {
    color: white;
}
