div#contenedor {
	margin: auto;
	height: 700px;
	font-family: "Trebuchet MS";
}

div#cabecera{
	background-color: #87CEFA;
	min-height: 120px;
	width: 1315px;
	padding: 10px 10px;
}

div#sidebar{
	float: right;
	background-color: #F0FFFF;
	width: 20%;
	height: 100%;
	text-align: center;
}

div#contenido{
	float: left;
	width: 900px;
	height: 400px;
	margin: 10px 40px;
}

div#footer{
	background-color: #87CEFA;
	clear: both;
	padding: 10px;
	text-align: center;
	position: relative;
}

a.tituloMenu {
    text-decoration: none;
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    padding: 20px 10px;
}

.login {
	margin: -110px 140px; /* primer numero: control arriba/abajo - segundo numero: control izquierda/derecha*/
    float: right;
    padding: 0px 0px;
    color: white;
}

.login h3{
	margin-top: 24px;
	margin-bottom: 2px;
}

.login input {
	margin-top: 2px;
}

.sign-up{
	float: right;
	font-size: 18px;
	margin: -90px 0px;
}

#colorNav {
	margin-left: 200px;
}

#colorNav > ul {
	width: 1000px;
	margin:0 auto;
	float: center;
	padding: 20px 10px;
}

#colorNav > ul > li{ 
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	display: inline-block;
	line-height: 1.5;
	margin: 1px;
	border-radius: 0px;
	position:relative;

}

#colorNav > ul > li > a{
	color:white;
	text-decoration:none;
	font-size:24px;
	padding: 10px 15px;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:180px;
	left:50%;
	margin-left:-110px;
	top:25px;

	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;

	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

#colorNav li:hover ul{
	max-height:200px;
}

#colorNav li ul li{
	background-color:#313131;
}

#colorNav li ul li a{
	padding:8px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

#colorNav li ul li:hover{ /* color al pasar por encima el raton de los desplegables*/
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:25px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
#colorNav li.green{
	/* This is the color of the menu item */
	background-color:#00c08b;

	/* This is the color of the icon */
	color:#127a5d;
}

#colorNav li.red{		background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{		background-color:#53bfe2;color:#2884a2;}
#colorNav li.yellow{	background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{	background-color:#df6dc2;color:#9f3c85;}

