.excursion #centro * {
    float: left;
}

.excursion {
    box-shadow: 0 1px 4px darkslategray;
    background-color: white;
    border-radius: 5px;
    float: left;
    padding: 5px;
}

.excursion #centro #imagen {
    width: 20%;
    border-radius: 20px;
}

.excursion #centro #descripcion {
    text-align: justify;
    width: 60%;
}

#dcha {
    width: 20%;
    float: left;
}

#dcha * {
    margin: 5px;
    padding: 5px;
    background-color: #90caf9;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 4px darkslategray;
}

#comentarios {
    width: 100%;
    float: left;
    border-radius: 5px;
}

.comentario {
    box-shadow: 0 1px 4px darkslategray;
    background-color: white;
    width: 100%;
    float: left;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.comentario:hover {
    background-color: #E3F2FD;
}

#textoComentario {
    height: 150px;
    width: 100%;
}

#asunto {
    width: 100%;
}

#descripcion * {
    padding: 10px;
}